<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.ampl.ide"
            name="AMPL">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.ampl.ide.Perspective"
            icon="icons/logo16.png"
            id="com.ampl.ide.Perspective"
            name="AMPL">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="mod,run,ampl,dat"
            id="amplFile"
            name="AMPL File"
            priority="high">
      </content-type>
      <!--content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="dat"
            id="org.eclipse.ui.DefaultTextEditor"
            name="Data file"
            priority="high">
      </content-type-->
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ampl.ide.editors.AMPLEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            icon="icons/ampl_file.gif"
            id="com.ampl.ide.editors.AMPLEditor"
            name="AMPL Editor"
            symbolicFontName="com.ampl.ide.preferences.colorsFonts.editorFont">
         <contentTypeBinding
               contentTypeId="com.ampl.ide.amplFile">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.ampl.ide.launching.LaunchDelegate"
            id="com.ampl.ide.launching.ampl"
            modes="run, debug"
            name="AMPL"
            public="true" />
      <launchConfigurationType
            delegate="com.ampl.ide.launching.LaunchDelegate"
            id="com.ampl.ide.launching.sampl"
            modes="run, debug"
            name="SAMPL"
            public="true" />
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.ampl.ide.launching.ampl"
            icon="icons/logo16.png"
            id="com.ampl.ide.launchConfigurationTypeImages.ampl" />
      <launchConfigurationTypeImage
            configTypeID="com.ampl.ide.launching.sampl"
            icon="icons/logo16.png"
            id="com.ampl.ide.launchConfigurationTypeImages.ampl" />
   </extension>
   <extension
         id="AMPLDocumentSetupParticipant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="ampl,sampl,mod,dat,run"
            class="com.ampl.ide.editors.DocumentSetupParticipant"/>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.ampl.ide.views.internal.AMPLPropertyTester"
            id="com.ampl.ide.propertyTester"
            namespace="com.ampl.ide.views.internal"
            properties="matchesPattern"
            type="com.ampl.ide.views.internal.CDEModel.CDEResource">
      </propertyTester>
      <propertyTester
            class="com.ampl.ide.commands.internal.IsNotDirectory"
            id="com.ampl.ide.commands.isNotDirectoryProperty"
            namespace="com.ampl.ide.commands.internal"
            properties="isNotDirectory"
            type="com.ampl.ide.views.internal.CDEModel.CDEResource">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="com.ampl.ide.editors.DocumentSetupParticipant">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.ampl.ide"
            class="com.ampl.ide.views.ViewWrapper"
            icon="icons/filenav_nav.gif"
            id="com.ampl.ide.CurrDirExplorer"
            name="Current Directory"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="com.ampl.ide.views.internal.CDEContentProvider"
            id="com.ampl.ide.CurrDirExplorer.content"
            labelProvider="com.ampl.ide.views.internal.CDELabelProvider"
            name="Current Directory Explorer Content">
         <triggerPoints>
            <or>
               <instanceof
                     value="com.ampl.ide.views.internal.CDEModel.CDEResource">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="com.ampl.ide.views.internal.CDEModel.CDEResource">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.ampl.ide.CurrDirExplorer">
      </viewer>
      <viewerContentBinding
            viewerId="com.ampl.ide.CurrDirExplorer">
         <includes>
            <contentExtension
                  pattern="com.ampl.ide.CurrDirExplorer.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.ampl.ide.console.AMPLConsoleFactory"
            label="AMPL Console">
      </consoleFactory>
   </extension>
   <extension
         id="com.ampl.ide.preferences.workingDir"
         name="Working Directory Preferences"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.ampl.ide.WorkingDirInitializer">
      </initializer>
      <initializer
            class="com.ampl.ide.preferences.EnvPathInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.ampl.ide.Perspective">
         <viewShortcut
               id="com.ampl.ide.CurrDirExplorer">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.console.ConsoleView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.ampl.ide.cde.refresh"
            name="Refresh">
      </command>
      <command
            id="com.ampl.ide.cde.updir"
            name="Go up one directory">
      </command>
      <command
            id="com.ampl.ide.commands.rename"
            name="Rename">
      </command>
      <command
            id="com.ampl.ide.commands.OpenNewFileWizard"
            name="New File...">
      </command>
      <command
            id="com.ampl.ide.commands.OpenNewFolderWizard"
            name="New Folder...">
      </command>
      <command
            id="com.ampl.ide.commands.delete"
            name="Delete">
      </command>
      <command
            id="com.ampl.ide.commands.amplCommands"
            name="AMPL Commands">
         <commandParameter
               id="com.ampl.ide.commandType"
               name="AMPL Command Type"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.ampl.ide.commands.resetRestart"
            name="Reset and Restart">
      </command>
      <command
            id="com.ampl.ide.commands.resetampl"
            name="Reset">
      </command>
      <command
            id="com.ampl.ide.commands.interrupt"
            name="Interrupt">
      </command>
      <command
            id="com.ampl.ide.commands.openExternal"
            name="Open in Another Editor">
         <commandParameter
               id="com.ampl.ide.EditorType"
               name="Editor Type"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.ampl.ide.commands.solve"
            name="Solve">
      </command>
      <command
            id="com.ampl.ide.commands.clearconsole"
            name="Clear Console">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.ampl.ide.CurrDirExplorer">
         <command
               commandId="com.ampl.ide.cde.refresh"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh">
         </command>
         <command
               commandId="com.ampl.ide.cde.updir"
               icon="icons/up_nav.gif"
               label="Go up one directory"
               style="push"
               tooltip="Go up one directory">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.ampl.ide.CurrDirExplorer">
         <menu
               label="New">
            <command
                  commandId="com.ampl.ide.commands.OpenNewFileWizard"
                  icon="icons/new_file.gif"
                  label="File"
                  style="push">
            </command>
            <command
                  commandId="com.ampl.ide.commands.OpenNewFolderWizard"
                  icon="icons/newfolder_wiz.gif"
                  label="Folder"
                  style="push">
            </command>
         </menu>
         <separator
               name="openFileGroup"
               visible="true">
         </separator>
         <command
               commandId="com.ampl.ide.commands.openExternal"
               label="Open in External Editor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.ampl.ide.views.internal.CDEModel.CDEResource">
                     </instanceof>
                     <test
                           property="com.ampl.ide.commands.internal.isNotDirectory">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
            <parameter
                  name="com.ampl.ide.EditorType"
                  value="external">
            </parameter>
         </command>
         <command
               commandId="com.ampl.ide.commands.openExternal"
               label="Open in Text Editor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.ampl.ide.views.internal.CDEModel.CDEResource">
                     </instanceof>
                     <test
                           property="com.ampl.ide.commands.internal.isNotDirectory">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
            <parameter
                  name="com.ampl.ide.EditorType"
                  value="text">
            </parameter>
         </command>
         <separator
               name="fileOpsGroup"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               style="push">
         </command>
         <command
               commandId="com.ampl.ide.commands.delete"
               icon="icons/delete.gif"
               style="push">
         </command>
         <separator
               name="refactorGroup"
               visible="true">
         </separator>
         <command
               commandId="com.ampl.ide.commands.rename"
               label="Rename"
               style="push"
               tooltip="Rename">
         </command>
         <separator
               name="refreshGroup"
               visible="true">
         </separator>
         <command
               commandId="com.ampl.ide.cde.refresh"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh">
         </command>
         <separator
               name="amplGroup"
               visible="true">
         </separator>
         <command
             commandId="com.ampl.ide.commands.amplCommands"
                     label="Send To AMPL"
                  	 style="push">
               <!--parameter
                     name="com.ampl.ide.commandType"
                     value="sendToAMPL">
               </parameter-->
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.ampl.ide.views.internal.CDEModel.CDEResource">
                     </instanceof>
                     <test
                           property="com.ampl.ide.views.internal.matchesPattern">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <!--menu
               label="AMPL Commands">
            <command
                  commandId="com.ampl.ide.commands.amplCommands"
                  label="Model"
                  style="push">
               <parameter
                     name="com.ampl.ide.commandType"
                     value="model">
               </parameter>
            </command>
            <command
                  commandId="com.ampl.ide.commands.amplCommands"
                  label="Data"
                  style="push">
               <parameter
                     name="com.ampl.ide.commandType"
                     value="data">
               </parameter>
            </command>
            <command
                  commandId="com.ampl.ide.commands.amplCommands"
                  label="Include"
                  style="push">
               <parameter
                     name="com.ampl.ide.commandType"
                     value="include">
               </parameter>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.ampl.ide.views.internal.CDEModel.CDEResource">
                     </instanceof>
                     <test
                           property="com.ampl.ide.views.internal.matchesPattern">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </menu-->
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=additions">
         <command
                  commandId="com.ampl.ide.commands.amplCommands"
                  label="Send To AMPL"
                  style="push">
               <!--parameter
                     name="com.ampl.ide.commandType"
                     value="sendToAmpl">
               </parameter-->
            <!--visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="com.ampl.ide.editors.AMPLEditor">
                  </equals>
               </with>
            </visibleWhen-->
         </command>
         <!--command
               commandId="com.ampl.ide.commands.amplCommands"
               label="Data"
               style="push">
            <parameter
                  name="com.ampl.ide.commandType"
                  value="data">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="com.ampl.ide.editors.AMPLEditor">
                  </equals>
               </with>
            </visibleWhen>
            </command>
         <command
               commandId="com.ampl.ide.commands.amplCommands"
               label="Include"
               style="push">
            <parameter
                  name="com.ampl.ide.commandType"
                  value="include">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="com.ampl.ide.editors.AMPLEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command-->
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.console.ConsoleView?before=outputGroup">
         <command
               commandId="com.ampl.ide.commands.resetampl"
               icon="icons/reset.gif"
               label="Reset"
               style="push">
         </command>
         <command
               commandId="com.ampl.ide.commands.interrupt"
               icon="icons/interrupt.gif"
               label="Interrupt"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#ContextMenu?after=additions">
         <command
               commandId="com.ampl.ide.commands.interrupt"
               icon="icons/interrupt.gif"
               label="Interrupt"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.ampl.ide.commands.RenameCDEHandler"
            commandId="com.ampl.ide.commands.rename">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="com.ampl.ide.views.internal.CDEModel.CDEResource">
                  </instanceof>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.ampl.ide.commands.OpenNewFileWizardHandler"
            commandId="com.ampl.ide.commands.OpenNewFileWizard">
      </handler>
      <handler
            class="com.ampl.ide.commands.OpenNewFolderWizardHandler"
            commandId="com.ampl.ide.commands.OpenNewFolderWizard">
      </handler>
      <handler
            class="com.ampl.ide.commands.DeleteHandler"
            commandId="com.ampl.ide.commands.delete">
      </handler>
      <handler
            class="com.ampl.ide.commands.AMPLCommandHandler"
            commandId="com.ampl.ide.commands.amplCommands">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.ampl.ide.CurrDirExplorer">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
                <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.ampl.ide.views.internal.CDEModel.CDEResource">
                     </instanceof>
                     <test
                           property="com.ampl.ide.commands.internal.isNotDirectory">
                     </test>
                </iterate>
                <count
                       value="1">
                </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ampl.ide.commands.ResetRestartHandler"
            commandId="com.ampl.ide.commands.resetRestart">
      </handler>
      <handler
            class="com.ampl.ide.commands.CopyCDEHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="com.ampl.ide.views.internal.CDEModel.CDEResource">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.ampl.ide.commands.PasteCDEHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="com.ampl.ide.views.internal.CDEModel.CDEResource">
                  </instanceof>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.ampl.ide.commands.AMPLCommandEditorHandler"
            commandId="com.ampl.ide.commands.amplCommands">
         <activeWhen>
            <with
                  variable="activePart">
               <instanceof
                        value="org.eclipse.ui.editors.text.TextEditor">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.ampl.ide.commands.InterruptAMPLHandler"
            commandId="com.ampl.ide.commands.interrupt">
      </handler>
      <handler
            class="com.ampl.ide.commands.ResetAMPLHandler"
            commandId="com.ampl.ide.commands.resetampl">
      </handler>
      <handler
      
            class="com.ampl.ide.commands.OpenFileAnotherEditor"
            commandId="com.ampl.ide.commands.openExternal">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.ampl.ide.CurrDirExplorer">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="com.ampl.ide.views.internal.CDEModel.CDEResource">
                  </instanceof>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.ampl.ide.commands.SolveAMPLHandler"
            commandId="com.ampl.ide.commands.solve">
      </handler>
      <handler
            class="com.ampl.ide.commands.AMPLConsoleHandler"
            commandId="com.ampl.ide.commands.clearconsole">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ui.internal.themes.ColorsAndFontsPreferencePage"
            id="org.eclipse.ui.preferencePages.ColorsAndFonts"
            name="Colors and Fonts">
      </page>
      <page
            class="com.ampl.ide.preferences.EnvPathPreferencePage"
            id="com.ampl.ide.preferences.envPathPrefPage"
            name="Search Path">
      </page>
      <page id="com.ampl.ide.preferences.amplEditorPreferencePage"
	        class="com.ampl.ide.preferences.AmplEditorPreferencePage"
            name="AMPL Editor">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <fontDefinition
            categoryId="com.ampl.ide.preferences.colorsFonts.category"
            defaultsTo="org.eclipse.jface.textfont"
            id="com.ampl.ide.preferences.colorsFonts.consoleFont"
            isEditable="true"
            label="Console Font">
         <description>
            The font used by the AMPL console.
         </description>
      </fontDefinition>
      <colorDefinition
            categoryId="com.ampl.ide.preferences.colorsFonts.category"
            colorFactory="org.eclipse.ui.internal.themes.LightColorFactory"
            id="com.ampl.ide.preferences.colorsFonts.consoleColor"
            isEditable="true"
            label="Console Color">
      </colorDefinition>
      <fontDefinition
            categoryId="com.ampl.ide.preferences.colorsFonts.category"
            defaultsTo="org.eclipse.jface.textfont"
            id="com.ampl.ide.preferences.colorsFonts.editorFont"
            isEditable="true"
            label="Editor Font">
         <description>
            This font is used by the AMPL editors.
         </description>
      </fontDefinition>
      <colorDefinition
            categoryId="com.ampl.ide.preferences.colorsFonts.category"
            colorFactory="org.eclipse.ui.internal.themes.LightColorFactory"
            id="com.ampl.ide.preferences.colorsFonts.editorColor"
            isEditable="true"
            label="Editor Color">
      </colorDefinition>
      <themeElementCategory
            id="org.eclipse.compare.contentmergeviewer.TextMergeViewer"
            label="Merge">
      </themeElementCategory>
      <colorDefinition
            categoryId="org.eclipse.compare.contentmergeviewer.TextMergeViewer"
            id="INCOMING_COLOR"
            isEditable="false"
            label="compareIncomingColor.label"
            value="COLOR_BLUE">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.compare.contentmergeviewer.TextMergeViewer"
            id="OUTGOING_COLOR"
            isEditable="false"
            label="compareOutgoingColor.label"
            value="COLOR_BLACK">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.compare.contentmergeviewer.TextMergeViewer"
            id="CONFLICTING_COLOR"
            isEditable="false"
            label="compareConflictColor.label"
            value="COLOR_RED">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.compare.contentmergeviewer.TextMergeViewer"
            id="RESOLVED_COLOR"
            isEditable="false"
            label="compareResolvedColor.label"
            value="COLOR_GREEN">
      </colorDefinition>
      <fontDefinition
            categoryId="org.eclipse.compare.contentmergeviewer.TextMergeViewer"
            defaultsTo="org.eclipse.jface.textfont"
            id="org.eclipse.compare.contentmergeviewer.TextMergeViewer"
            isEditable="false"
            label="compareFontDefiniton.label">
      </fontDefinition>
      <themeElementCategory
            id="org.eclipse.debug.ui.presentation"
            label="debugPresentation.label">
      </themeElementCategory>
      <fontDefinition
            categoryId="org.eclipse.debug.ui.presentation"
            id="org.eclipse.debug.ui.DetailPaneFont"
            isEditable="false"
            label="DetailPaneFontDefinition.label">
      </fontDefinition>
      <fontDefinition
            categoryId="org.eclipse.debug.ui.presentation"
            defaultsTo="org.eclipse.jface.textfont"
            id="org.eclipse.debug.ui.MemoryViewTableFont"
            isEditable="false"
            label="MemoryViewTableFontDefinition.label">
      </fontDefinition>
      <fontDefinition
            categoryId="org.eclipse.debug.ui.presentation"
            defaultsTo="org.eclipse.jface.textfont"
            id="org.eclipse.debug.ui.consoleFont"
            isEditable="false"
            label="ConsoleFont.label">
      </fontDefinition>
      <fontDefinition
            categoryId="org.eclipse.debug.ui.presentation"
            id="org.eclipse.debug.ui.VariableTextFont"
            isEditable="false"
            label="VariableTextFontDefinition.label">
      </fontDefinition>
      <colorDefinition
            categoryId="org.eclipse.debug.ui.presentation"
            id="org.eclipse.jdt.debug.ui.InDeadlockColor"
            isEditable="false"
            label="InDeadlockColorDefinition.label"
            value="COLOR_RED">
      </colorDefinition>
      <themeElementCategory
            id="org.eclipse.jdt.ui.presentation"
            label="javaPresentation.label">
      </themeElementCategory>
      <fontDefinition
            categoryId="org.eclipse.jdt.ui.presentation"
            id="org.eclipse.jdt.junit.failurePaneFont"
            isEditable="false"
            label="FailureTraceFont.label">
      </fontDefinition>
      <fontDefinition
            categoryId="org.eclipse.jdt.ui.presentation"
            defaultsTo="org.eclipse.jface.textfont"
            id="org.eclipse.jdt.ui.editors.textfont"
            isEditable="false"
            label="javaEditorFontDefiniton.label">
      </fontDefinition>
      <fontDefinition
            categoryId="org.eclipse.jdt.ui.presentation"
            defaultsTo="org.eclipse.jface.textfont"
            id="org.eclipse.jdt.ui.PropertiesFileEditor.textfont"
            isEditable="false"
            label="propertiesFileEditorFontDefiniton.label">
      </fontDefinition>
      <fontDefinition
            categoryId="org.eclipse.jdt.ui.presentation"
            defaultsTo="org.eclipse.jface.dialogfont"
            id="org.eclipse.jdt.ui.javadocfont"
            isEditable="false"
            label="javadocDisplayFontDefiniton.label">
      </fontDefinition>
      <colorDefinition
            categoryId="org.eclipse.jdt.ui.presentation"
            id="org.eclipse.jdt.ui.DeclarationView.backgroundColor"
            isEditable="false"
            label="DeclarationViewBackgroundColor.label"
            value="COLOR_INFO_BACKGROUND">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.jdt.ui.presentation"
            id="org.eclipse.jdt.ui.ColoredLabels.inherited"
            isEditable="false"
            label="coloredLabels.inherited.label"
            value="COLOR_DARK_BLUE">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.jdt.ui.presentation"
            defaultsTo="org.eclipse.search.ui.match.highlight"
            id="org.eclipse.jdt.ui.ColoredLabels.match_highlight"
            isEditable="false"
            label="coloredLabels.match_highlight.label">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.jdt.ui.presentation"
            id="org.eclipse.jdt.ui.ColoredLabels.writeaccess_highlight"
            isEditable="false"
            label="coloredLabels.writeaccess_highlight.label"
            value="240,216,168">
      </colorDefinition>
      <fontDefinition
            categoryId="org.eclipse.compare.contentmergeviewer.TextMergeViewer"
            defaultsTo="org.eclipse.jface.textfont"
            id="org.eclipse.pde.internal.ui.compare.PluginContentMergeViewer"
            isEditable="false"
            label="fontDefinition.label.1">
      </fontDefinition>
      <themeElementCategory
            id="org.eclipse.ui.workbenchMisc"
            label="WorkbenchMisc">
      </themeElementCategory>
      <colorDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            id="org.eclipse.search.ui.match.highlight"
            isEditable="false"
            label="match_highlight.label"
            value="206,204,247">
      </colorDefinition>
      <themeElementCategory
            class="org.eclipse.ui.internal.themes.WorkbenchPreview"
            id="org.eclipse.ui.presentation.default"
            label="Presentation">
      </themeElementCategory>
      <fontDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            id="org.eclipse.jface.bannerfont"
            isEditable="false"
            label="FontsPreference.BannerFontLabel">
      </fontDefinition>
      <fontDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            id="org.eclipse.jface.dialogfont"
            isEditable="false"
            label="FontsPreference.DialogFontLabel">
      </fontDefinition>
      <fontDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            id="org.eclipse.jface.headerfont"
            isEditable="false"
            label="FontsPreference.HeaderFontLabel">
      </fontDefinition>
      <fontDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            id="org.eclipse.jface.textfont"
            isEditable="false"
            label="Monaco">
      </fontDefinition>
      <fontDefinition
            categoryId="org.eclipse.ui.presentation.default"
            id="org.eclipse.ui.workbench.TAB_TEXT_FONT"
            isEditable="false"
            label="FontsPreference.TitleFont">
      </fontDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            id="ERROR_COLOR"
            isEditable="false"
            label="Color.errorText"
            value="COLOR_RED">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            id="HYPERLINK_COLOR"
            isEditable="false"
            label="Color.hyperlinkText"
            value="COLOR_LINK_FOREGROUND">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            id="ACTIVE_HYPERLINK_COLOR"
            isEditable="false"
            label="Color.activeHyperlinkText">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            id="QUALIFIER_COLOR"
            isEditable="false"
            label="Color.qualifierText"
            value="COLOR_DARK_GRAY">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            id="DECORATIONS_COLOR"
            isEditable="false"
            label="Color.decorationsText"
            value="149,125,71">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            id="COUNTER_COLOR"
            isEditable="false"
            label="Color.counterText"
            value="0,127,174">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            id="CONTENT_ASSIST_BACKGROUND_COLOR"
            isEditable="false"
            label="Color.contentAssistBackground"
            value="COLOR_LIST_BACKGROUND">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            id="CONTENT_ASSIST_FOREGROUND_COLOR"
            isEditable="false"
            label="Color.contentAssistForeground"
            value="COLOR_LIST_FOREGROUND">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.presentation.default"
            id="org.eclipse.ui.workbench.ACTIVE_TAB_TEXT_COLOR"
            isEditable="false"
            label="Color.activeTabText">
         <colorFactory
               class="org.eclipse.ui.internal.themes.LightColorFactory">
         </colorFactory>
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.presentation.default"
            id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_END"
            isEditable="false"
            label="Color.activeTabBGEnd">
         <colorFactory
               class="org.eclipse.ui.internal.themes.LightColorFactory">
         </colorFactory>
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.presentation.default"
            id="org.eclipse.ui.workbench.ACTIVE_TAB_BG_START"
            isEditable="false"
            label="Color.activeTabBGStart">
         <colorFactory
               class="org.eclipse.ui.internal.themes.LightColorFactory">
         </colorFactory>
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.presentation.default"
            id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_TEXT_COLOR"
            isEditable="false"
            label="Color.activeNofocusTabText"
            value="COLOR_TITLE_INACTIVE_FOREGROUND">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.presentation.default"
            id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_BG_END"
            isEditable="false"
            label="Color.activeNofocusTabBGEnd"
            value="COLOR_TITLE_INACTIVE_BACKGROUND">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.presentation.default"
            id="org.eclipse.ui.workbench.ACTIVE_NOFOCUS_TAB_BG_START"
            isEditable="false"
            label="Color.activeNofocusTabBGStart">
         <colorFactory
               class="org.eclipse.ui.internal.themes.LightColorFactory">
         </colorFactory>
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.presentation.default"
            id="org.eclipse.ui.workbench.INACTIVE_TAB_TEXT_COLOR"
            isEditable="false"
            label="Color.inactiveTabText"
            value="COLOR_WIDGET_FOREGROUND">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.presentation.default"
            id="org.eclipse.ui.workbench.INACTIVE_TAB_BG_START"
            isEditable="false"
            label="Color.inactiveTabBGStart">
         <colorFactory
               class="org.eclipse.ui.internal.themes.LightColorFactory">
         </colorFactory>
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.presentation.default"
            id="org.eclipse.ui.workbench.INACTIVE_TAB_BG_END"
            isEditable="false"
            label="Color.inactiveTabBGEnd"
            value="COLOR_WIDGET_BACKGROUND">
      </colorDefinition>
      <fontDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            id="org.eclipse.ui.workbench.texteditor.blockSelectionModeFont"
            isEditable="false"
            label="blockSelectionModeFont.label"
            value="Courier New-regular-10">
      </fontDefinition>
      <colorDefinition
            categoryId="org.eclipse.jdt.ui.presentation"
            id="org.eclipse.jdt.ui.JavadocView.backgroundColor"
            isEditable="false"
            label="JavadocViewBackgroundColor.label"
            value="COLOR_INFO_BACKGROUND">
      </colorDefinition>
      <fontDefinition
            categoryId="org.eclipse.compare.contentmergeviewer.TextMergeViewer"
            defaultsTo="org.eclipse.jdt.ui.editors.textfont"
            id="org.eclipse.jdt.internal.ui.compare.JavaMergeViewer"
            isEditable="false"
            label="javaCompareFontDefiniton.label">
      </fontDefinition>
      <fontDefinition
            categoryId="org.eclipse.compare.contentmergeviewer.TextMergeViewer"
            defaultsTo="org.eclipse.jdt.ui.PropertiesFileEditor.textfont"
            id="org.eclipse.jdt.internal.ui.compare.PropertiesFileMergeViewer"
            isEditable="false"
            label="propertiesFileCompareFontDefiniton.label">
      </fontDefinition>
      <fontDefinition
            categoryId="org.eclipse.compare.contentmergeviewer.TextMergeViewer"
            id="org.eclipse.pde.internal.ui.compare.ManifestContentMergeViewer"
            isEditable="false"
            label="fontDefinition.label.0">
      </fontDefinition>
      <colorDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            colorFactory="org.eclipse.ui.internal.themes.LightColorFactory"
            id="ACTIVE_HYPERLINK_COLOR"
            isEditable="false"
            label="Color.activeHyperlinkText">
      </colorDefinition>
      <themeElementCategory
            id="com.ampl.ide.preferences.colorsFonts.category"
            label="AMPL">
      </themeElementCategory>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.ampl.ide.commands.amplCommands"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="com.ampl.ide.console.AMPLConsolePageParticipant"
            id="com.ampl.ide.AmplConsolePageParticipant">
         <enablement></enablement>
      </consolePageParticipant>
   </extension>
</plugin>
