<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.ampl.ide.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <menu
                  label="New">
               <command
                     commandId="com.ampl.ide.commands.OpenNewFileWizard"
                     icon="icons/new_file.gif"
                     label="File"
                     style="push">
               </command>
               <command
                     commandId="com.ampl.ide.commands.OpenNewFolderWizard"
                     icon="icons/newfolder_wiz.gif"
                     label="Folder"
                     style="push">
               </command>
            </menu>
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  style="push">
            </command>
            <separator
                  name="CloseGroup"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll"
                  style="push">
            </command>
            <separator
                  name="SaveGroup"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.revert"
                  style="push">
            </command>
            <separator
                  name="convert"
                  visible="true">
            </separator>
            <menu
                  label="Convert">
               <command
                     commandId="org.eclipse.ui.edit.text.delimiter.windows"
                     style="push"
                     label="Line Delimiters To Windows">
               </command>
               <command
                     commandId="org.eclipse.ui.edit.text.delimiter.unix"
                     style="push"
                     label="Line Delimiters To Unix">
               </command>
            </menu>
            <separator
                  name="Print"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.print"
                  style="push">
            </command>
            <separator
                  name="Workbench"
                  visible="true">
            </separator>
            <separator
                  name="Exit"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="editMenu"
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  style="push">
            </command>
            <separator
                  name="CutGroup"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste"
                  style="push">
            </command>
            <separator
                  name="SelectGroup"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  style="push">
            </command>
            <separator
                  name="FindGroup"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.findReplace"
                  label="Find/Replace..."
                  style="push">
            </command>
         </menu>
         <menu
               id="commandMenu"
               label="Commands">
            <command
                  commandId="com.ampl.ide.commands.resetampl"
                  label="Reset"
                  style="push">
            </command>
            <command
                  commandId="com.ampl.ide.commands.amplCommands"
                  label="Send to AMPL"
                  style="push">
            </command>
            <command
                  commandId="com.ampl.ide.commands.solve"
                  label="Solve"
                  style="push">
            </command>
            <separator
                  name="AmplCommandSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="com.ampl.ide.commands.interrupt"
                  label="Interrupt"
                  style="push">
            </command>
            <separator
                  name="IDEMenuSeparator"
                  visible="true">
            </separator>
            <command
                  commandId="com.ampl.ide.commands.clearconsole"
                  label="Clear Console"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.restartWorkbench"
                  label="Restart IDE"
                  style="push">
            </command>
         </menu>
         <menu
               id="windowMenu"
               label="Window">
            <!--menu
                  label="Show View">
               <dynamic
                     class="com.ampl.ide.rcp.internal.ShowViewContribution"
                     id="com.ampl.ide.rcp.dynamic.showview">
               </dynamic>
            </menu -->
            <menu
                  label="Editor Toggle">
                <command
                  commandId="org.eclipse.ui.window.splitEditor"
                  mnemonic="%command.split.horizontal.mnemonic"
                  style="push"
                  label="Split Horizontal">
               <parameter
                     name="Splitter.isHorizontal"
                     value="true">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.window.splitEditor"
                  mnemonic="%command.split.vertical.mnemonic"
                  style="push"
                  label="Split Vertical">
               <parameter
                     name="Splitter.isHorizontal"
                     value="false">
               </parameter>
            </command>
            </menu>
            <separator
                  name="PrefsGroup"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  style="push">
            </command>
            <!--<menu
                  label="Open Perspective">
               <dynamic
                     class="com.ampl.ide.rcp.internal.OpenPerspectiveContribution"
                     id="com.ampl.ide.rcp.dynamic.openpersp">
               </dynamic>
            </menu>-->
         </menu>
         <menu
               id="helpMenu"
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.displayHelp"
                  label="AMPL Help"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.ampl.ide.rcp.saveToolbar">
            <command
                  commandId="com.ampl.ide.commands.OpenNewFileWizard"
                  icon="icons/new_file.gif"
                  style="push">
            </command>
            <command
                  commandId="com.ampl.ide.commands.OpenNewFolderWizard"
                  icon="icons/newfolder_wiz.gif"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <!--<menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=editMenu">
         <menu
               id="org.eclipse.search.menu"
               label="Search">
         </menu>
      </menuContribution>-->
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.ampl.ide.rcp.application"
            name="AMPL IDE">
         <property
               name="windowImages"
               value="platform:/plugin/com.ampl.ide/icons/logo16.png,platform:/plugin/com.ampl.ide/icons/logo32.png,platform:/plugin/com.ampl.ide/icons/logo48.png,platform:/plugin/com.ampl.ide/icons/logo64.png,platform:/plugin/com.ampl.ide/icons/logo128.png">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/com.ampl.ide/icons/pantherAbout.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FAA51D">
         </property>
         <property
               name="startupProgressRect"
               value="8,225,483,10">
         </property>
         <property
               name="startupMessageRect"
               value="8,207,483,18">
         </property>
         <property
               name="appName"
               value="AMPL IDE">
         </property>
         <property
	         name="applicationXMI"
	         value="com.ampl.ide.rcp/LegacyIDE.e4xmi">
	   </property>
         <property
               name="cssTheme"
               value="com.ampl.ide.ui.css.theme.e4_default">
         </property>
	  <!--<property
	         name="applicationCSS"
	         value="platform:/plugin/com.ampl.ide.rcp/css/default.css">
	  </property>-->
	  <property
	         name="applicationCSSResources"
	         value="platform:/plugin/com.ampl.ide.rcp/images/">
	  </property>
   <property
         name="preferenceCustomization"
         value="plugin_customization.ini">
   </property>
      </product>
   </extension>
   <extension
   		point="org.eclipse.e4.ui.css.swt.theme">
	  	<theme
			basestylesheeturi="css/e4_default.css"
			id="com.ampl.ide.ui.css.theme.e4_default.noos"
			label="Default Theme">
			</theme>
		<theme
			basestylesheeturi="css/e4_classic_winxp.css"
			id="com.ampl.ide.ui.css.theme.e4_classic"
			label="Classic">
		</theme>
		<theme
			basestylesheeturi="css/e4_default_gtk.css"
			id="com.ampl.ide.ui.css.theme.e4_default"
			label="GTK"
			os="linux">
		</theme>
		<theme
			basestylesheeturi="css/e4_default_mac.css"
			id="com.ampl.ide.ui.css.theme.e4_default"
			label="Mac"
			os="macosx">
		</theme>
		<theme
			basestylesheeturi="css/e4_default_win7.css"
			id="com.ampl.ide.ui.css.theme.e4_default"
			label="Windows 7"
			os="win32"
			os_version="6.1">
		</theme>
		<theme
			basestylesheeturi="css/e4_default_winxp_blu.css"
			id="com.ampl.ide.ui.css.theme.e4_default"
			label="Windows XP Blue"
			os="win32">
		</theme>
		<theme
			basestylesheeturi="css/e4_default_winxp_olv.css"
			id="com.ampl.ide.ui.css.theme.e4_default.xpolive"
			label="Windows XP Olive"
			os="win32">
		</theme>
		<theme
			basestylesheeturi="css/e4_classic_win7.css"
			id="com.ampl.ide.ui.css.theme.e4_classic"
			label="Windows 7 Classic"
			os="win32"
			os_version="6.1">
		</theme>
		<theme
			basestylesheeturi="css/e4_default_gtk.css"
			id="com.ampl.ide.ui.css.theme.e4_default"
			label="Solaris"
			os="solaris">
		</theme>
		<theme
			basestylesheeturi="css/e4_default_gtk.css"
			id="com.ampl.ide.ui.css.theme.e4_default"
			label="AIX"
			os="aix">
		</theme>
		<theme
			basestylesheeturi="css/e4_classic_winxp.css"
			id="com.ampl.ide.ui.css.theme.e4_default"
			label="HPUX"
			os="hpux">
		</theme>
	</extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="com.ampl.ide.rcp.NonLiteViews"
            name="Views not part of the Lite version">
      </activity>
      <activityPatternBinding
            activityId="com.ampl.ide.rcp.NonLiteViews"
            pattern="org\.eclipse\.team\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.ampl.ide.rcp.NonLiteViews"
            pattern="org\.eclipse\.debug\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
             activityId="com.ampl.ide.rcp.NonLiteViews"
             isEqualityPattern="true"
             pattern="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.edit.text.openLocalFile"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.ampl.ide.rcp.FirstTimeStartupInitializer">
      </initializer>
   </extension>

</plugin>
