body{
    margin: 0;
    padding: 0;
    background-image: url(../imagenes/fondos.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif; 
    height: 100vh;
}
form {
    width: 350px;
    position: absolute;
    background: #000;
    color: #fff;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: calc(130% - 97%);
}
h1{
    margin: 0;
    padding: 0 0 20;
    text-align: center;
    font-size: 12px;
    color: red;
}
h2{
    margin: 0;
    padding: 0 0 20;
    text-align: center;
    font-size: 22px;
}
p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
input{
    width: 100%;
    margin-bottom: 20px;
}
input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;   
}
input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #1bcd13;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
input[type="submit"]:hover{
    cursor: pointer;
    background: #06b0cb;
    color: #000;
}
a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #1bcd13; 
}
a:hover{
    color: #06b0cb;
}
input[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    background:  #06b0cb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
input[type="button"]:hover{
    cursor: pointer;
    background:  #1bcd13;
    color: #000;
}