body{
    margin: 0;
    padding: 0;
    background-image: url(../imagenes/fondos.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: sans-serif; 
    height: 100vh;
} 
.enca{
    background: #000;
    overflow: hidden;
    width: 100%;
    height: 100px;
    background-attachment: fixed;
    margin-bottom: 20px;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
}
table{
    background: rgba(0, 0, 0, .7);
    background-attachment: fixed;
    width: 850px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transform: translate(20%, 0%);
    box-sizing: border-box;
    padding: 30px 30px;
    font-family: 'Alata', sans-serif;
}
td{
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding: 2px 2px;
}
th{
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding: 2px 2px;

}