*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0; 
    padding: 0;
    background-image: url(../imagenes/azul.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Alata', sans-serif;
    height: 100vh;
}
.enca{
    background: rgba(0, 0, 0, .7);
    overflow: hidden;
    width: 100%;
    height: 100px;
    background-attachment: fixed;
    margin-bottom: 20px;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
}
.wrapper{
    width: 90%;
    max-width: 1180px;
    margin: auto;
    overflow: hidden;
}
.logo{
    color: #fff;
    font-size: 50px;
    font-family: 'Alata', sans-serif;
    line-height: 70px;
    float: left;
}
nav{
    line-height: 70px;
    float: right;    
}
nav a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-family: 'Alata', sans-serif;
    border-radius: 15px;
    padding: 20px 10px;
    line-height: normal;
    font-size: 20px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;

}  
nav a:hover{
    color: blue;
    border-bottom: 5px solid#31FF00;
}
.avatar{ 
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: calc(130% - 100%); 
}
form {
    width: 350px;
    position: absolute;
    background: rgba(0, 0, 0, 0.822);
    color: #fff;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
    text-align: center;
}
input{
    width: 100%;
    margin-bottom: 20px;
}
input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;   
}
input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #1bcd13;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
input[type="submit"]:hover{
    cursor: pointer;
    background: #06b0cb;
    color: #000;
}
a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #1bcd13;
}
 