<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Register form</h1>
    <br>


    <p style="color: red;">{{message}}</p>
    <form action="/inicio/registerform" method="POST">
        Nombre: <br>
        <input type="text" name="nombre" id="nombre">
        <br><br>
        Apellido: <br>
        <input type="text" name="apellido" id="apellido">
        <br><br>
        Usuario: <br>
        <input type="text" name="usuario" id="usuario">
        <br><br>
        Contraseña: <br>
        <input type="password" name="password" id="password">
        <br><br>
        Email: <br>
        <input type="email" name="email" id="email">
        <br><br>
        Peso (en kilogramos y con dos decimales): <br>
        <input type="text" name="peso" id="peso">
        <br><br>
        Edad: <br>
        <input type="text" name="edad" id="edad">
        <br><br>
        Altura (en metros y con dos decimales): <br>
        <input type="text" name="altura" id="altura">
        <br><br>
        <input type="submit" value="Crear usuario">
        <a href="/inicio"><input type="button" value="Cancelar"></a>
    </form>
</body>

</html>