{% extends 'base.html' %}

{% block head %}
<title>Optimización</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ampl.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
{% endblock head %}

{% block content %}
<form action="/trainer/ampl" method="POST">

    {% for i in range(var) %}
    <p>Variable {{i+1}}</p>
    <input type="text" name="variable{{i}}" id="variable{{i}}" required>
    <br>
    <p>Precio {{i+1}}</p>
    <input type="text" name="precio{{i}}" id="precio{{i}}" required>
    <br><br>
    {% endfor %}

    <h1>RESTRICCIONES</h1>
    <br><br>
    {% for j in range(restriccion) %}
    <p>Restricción {{j+1}}</p>
    <input type="text" name="restriction{{j}}" id="restriction{{j}}" required>
    <br><br>
    {% endfor %}

    <input type="submit" value="Optimizar">
</form>
{% endblock content %}