{% extends 'base.html' %}

{% block head %}
<title>AmplForm</title>
{% endblock head %}

{% block content %}
<form action="/trainer/ampl" method="POST">

    {% for i in range(var) %}
    Variable {{i+1}}:
    <input type="text" name="variable{{i}}" id="variable{{i}}" required>
    <br>
    Precio {{i+1}}:
    <input type="text" name="precio{{i}}" id="precio{{i}}" required>
    <br><br>
    {% endfor %}

    RESTRICCIONES: <br><br>
    {% for j in range(restriccion) %}
    Restricción {{j+1}}:
    <input type="text" name="restriction{{j}}" id="restriction{{j}}" required>
    <br><br>
    {% endfor %}

    <input type="submit" value="RUN">
</form>
{% endblock content %}