    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cursos</title>
        
        <!-- CUSTOM CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/couruser.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
        <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    </head>
        <header>
            <img src="{{ url_for('static', filename='imagenes/Logo.png') }}" class="logo">    
            <a href="/inicio/sesion"><input type="button" value="Volver al perfil"></a>
            <h3><i class="fas fa-wallet icon">&nbsp; &nbsp;</i>Wallet: ${{wallet}}</h3>
        </header>
    <body>
<h4>Tus Cursos</h4><h1>Cursos disponibles</h1>
    <table class="clase2">
        {% for suscription in suscriptions %}
        <br>
        <tr><th><h2>{{suscription[1]}}</h2></th></tr>
            <br>
                <tr><th><p>Por un costo de ${{suscription[4]}}</p></th></tr>
                <br>
                <tr><th><p>{{suscription[2]}}</p></th></tr>
                <br>
                <tr><th><p>Duración de {{suscription[3]}}</p></th></tr>   
                <br>   
                <tr><th><p><a href="/inicio/session/course/trainer/{{suscription[6]}}">{{suscription[6]}}</a></p></th></tr>
                <tr><th><p>Estado del curso: {{suscription[7]}}</p></th></tr>
                <tr><th><p><i class="fas fa-grip-lines icon"></i></p></th></tr>
        {% endfor %}
        <br> 
    </table>

    <table class="clase1">
        {% for course in courses %}
            <tr><th><a href="/inicio/session/course/suscription/{{course[1]}}/{{course[4]}}/{{course[0]}}"><h2><i class="fas fa-fist-raised icon">&nbsp; {{course[1]}}</i></h2></th></tr>
            <br>
                <tr><th><p>Por un costo de ${{course[4]}}</p></th></tr>
                <br>
                <tr><th><p>{{course[2]}}</p></th></tr>
                <br>
                <tr><th><p>Duración de {{course[3]}}</p></th></tr>   
                <br>   
                <tr><th><p>Guiado por el entrenador: {{course[6]}}</p></th></tr>
                <tr><th><p><i class="fas fa-grip-lines icon"></i></p></th></tr>
        {% endfor %}
            <br>
    </table>
</body>
</html>