<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de cursos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/coursefromtrainer.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
</head>
             <header class="enca">
                <div class="wrapper">   
                    <div class="logo">
                        <i class="fas fa-dumbbell icon"></i>&nbsp;Zona Trainer
                    </div>          
                        <nav>
                        <a href="/trainer/sesion">Volver al perfil</a>
                    </nav>
                </div>
            </header>
<body>

    <form action="/trainer/session/course" method="POST">
        <h1>Curso Nuevo</h1>
        
        <p>Nombre del curso</p>
        <input type="text" name="name" id="name" required>
        
        <p>Descripción</p>
        <input type="text" name="desc" id="desc" required>
        
        <p>Duración</p>
        <input type="text" name="duration" id="duration" required>
        
        <p>Costo</p>
        <input type="number" name="cost" id="cost" required>
    
        <input type="submit">
    </form>
    <br><br>
    <h3>Recuerda entrenador, si alguien ya compró el curso no lo podras actualizar ni borrar.
    Tampoco puedes terminar un curso que no hayan comprado</h3>
    <br><br>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Duración</th>
            <th>Costo</th>
            <th>Comprador</th>
            <th>Estado</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{course[1]}}</td>
            <td>{{course[2]}}</td>
            <td>{{course[3]}}</td>
            <td>${{course[4]}}</td>

            {% if course[5] == None %}
            <td>Nadie se ha suscrito</td>
            <td>----------</td>
            {% else %}
            <td><a href="/trainer/session/userAcount/{{course[5]}}/{{course[7]}}">{{course[5]}}</a></td>
            
            <td>{{course[7]}}</td>
            {% endif %}

            {% if course[5] == None %}
            <td><a href="/trainer/session/course/update/{{course[0]}}">Actualizar</a></td>
            <td><a href="/trainer/session/course/delete/{{course[0]}}">Borrar</a></td>
            <td><a>No permitido</a></td>
            {% else %}
            <td><a>----------</a></td>
            <td><a>----------</a></td>
                {% if course[7] == "Finalizado" %}
                <td><a>Curso terminado</a></td>
                {% else %}
                <td><a href="/trainer/session/course/updateStatus/{{course[0]}}">Terminar curso</a></td>
                {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <br><br>
</body>
</html>