<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/confirsuscrip.css') }}">  
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">  
</head>
<body>
    <form action="/inicio/session/course/buy/{{id}}" method="POST">
            <h1>{{Name}}</h1>
            <h2>¿Seguro que quieres suscribirte a este curso?</h2>
            <h3>Tu saldo actual: ${{Actual}}</h3>
            <h4>Costo del curso: ${{Cost}}</h4>
            <h5>Tu nuevo saldo: ${{Nuevo}}</h5>
        <input type="submit" value="Comprar">
        <a href="/inicio/session/course"><input type="button" value="Cancelar"></a>
    </form>
</body>

</html>