    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cursos</title>
        
        <!-- CUSTOM CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/couruser.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
        <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    </head>
        <header>
            <img src="{{ url_for('static', filename='imagenes/Logo.png') }}" class="logo">    
            <a href="/inicio/sesion"><input type="button" value="Volver al perfil"></a>
            <h3><i class="fas fa-wallet icon">&nbsp; &nbsp;</i>Wallet: ${{wallet}}</h3>
        </header>
    <body>

    <table>
    <h1>Cursos disponibles</h1>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Duración</th>
            <th>Costo</th>
            <th>Entrenador</th> 
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{course[1]}}</td>
            <td>{{course[2]}}</td>
            <td>{{course[3]}}</td>
            <td>${{course[4]}}</td>
            <td><a>{{course[6]}}</a></td>
            <td><a href="/inicio/session/course/suscription/{{course[1]}}/{{course[4]}}/{{course[0]}}">Suscribirse</a></td>
        </tr>
        {% endfor %}
    </table>

    <br><br>
    <table>
    <h1>Tus cursos</h1>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Duración</th>
            <th>Costo</th>
            <th>Entrenador</th>
            <th>Estado</th>
        </tr>
        {% for suscription in suscriptions %}
        <tr>
            <td>{{suscription[1]}}</td>
            <td>{{suscription[2]}}</td>
            <td>{{suscription[3]}}</td>
            <td>${{suscription[4]}}</td> 
            <td><a href="/inicio/session/course/trainer/{{suscription[6]}}">{{suscription[6]}}</a></td>
            <td>{{suscription[7]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>