<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard: user</title>
</head>

<body>
    <h1>Hola {{userdata}}, es un gusto poder tenerte!</h1>
    <br><br>

    <table width="280" cellspacing="1" cellpadding="3" border="0" bgcolor="#1E679A">
        <tr>
            <td>
                <font color="#FFFFFF" face="arial, verdana, helvetica">
                    <b>Wallet:</b>
                </font>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffcc">
                <font face="arial, verdana, helvetica">${{wallet}}</font>
            </td>
        </tr>
    </table>
    <br><br>

    <h1>Tu rutina!</h1>
        <table style="width:50%" border="1">
        <tr>
            <th>Etapa</th>
            <th>Ejercicio</th>
            <th>Tiempo</th>
            <th>Repeticiones</th>
        </tr>
        {% for rutina in rutinas %}
        <tr>
            <td>{{rutina[4]}}</td>
            <td>{{rutina[3]}}</td>
            <td>{{rutina[5]}} minutos</td>
            <td>{{rutina[6]}}</td>
        </tr>
        {% endfor %}
    </table>
    

    <a href="/inicio/session/salir"><input type="button" value="Cerrar sesión"></a>
    <a href="/inicio/session/update"><input type="button" value="modificar mis datos"></a>
    <a href="/inicio/session/course"><input type="button" value="Cursos"></a>
    <a href="/inicio/session/saldo/pay"><input type="button" value="Ingresar saldo"></a>



</body>

</html>