<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard: Trainer</title>
</head>

<body>
    <h1>Hola {{userdata}}, es un gusto poder tenerte!</h1>
    <br>


    <a href="/trainer/session/salir"><input type="button" value="Cerrar sesión"></a>
    <a href="/trainer/session/borrar"><input type="button" value="Borrar mi cuenta"></a>
    <a href="/trainer/session/update"><input type="button" value="modificar mis datos"></a>
    <br><br>

    <h1>Optimizar un problema</h1>
    <br>
    <form action="/trainer/beforeAmpl" method="POST">
        Nombre del usuario:
        <input type="text" name="name" id="name" required>
        <br><br>
        Numero de variables:
        <input type="text" name="var" id="var" required>
        <br><br>
        Numero de restricciones:
        <input type="text" name="restriction" id="restriction" required>
        <br><br>
        <input type="submit">
    </form>

</body>

</html>