<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard: user</title>
<!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashuser.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">    
</head>

        <header class="enca">
            <div class="wrapper">   
                <div class="logo">
                    Hola {{userdata}}
                        {% if filename %}
                        <div>
                            <img src="{{ url_for("display_image", filename=filename) }}" class="avatar"> 
                        </div>
                        {% endif %}
                </div>           
                    <nav> 
                        <a href="/inicio/session/update">Modificar mis datos</a>
                        <a href="/inicio/session/photo">Cambiar foto</a>
                        <a href="/inicio/session/course">Cursos</a>
                        <a href="/inicio/session/saldo/pay">Agregar saldo</a>
                        <a href="/inicio/session/saldo/tarjetas">Ver historial de pagos</a>
                        <a href="/inicio/session/salir">Cerrar Sesión</a>
                    </nav>
                </div>
            </header>
<body>            
        <h2>Wallet: ${{wallet}}</h2>
    <p>
        {% with messages = get_flashed_messages() %}

        {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% endwith %}
    </p>
    {% if filename %}
    <div>
        <img src="{{ url_for("display_image", filename=filename) }}" class="avatar"> 
    </div>
    {% endif %}
 
    <br><br>
    <h1>Tu Rutina</h1>
        <table class="clase1">
            {% for rutina in rutinas %}
                    <tr><th><p>Etapa: {{rutina[4]}}</p></th></tr>
                    <br>
                    <tr><th><p>Ejercicio: {{rutina[3]}}</p></th></tr>
                    <br>
                    <tr><th><p>Tiempo: {{rutina[5]}} minutos</p></th></tr>   
                    <br>   
                    <tr><th><p>Repeticiones: {{rutina[6]}}</p></th></tr>
                    <br>
                    <br>
            {% endfor %}            
        </table>
</body>

</html>