<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard: user</title>
</head>

<body>
    <h1>Hola {{userdata}}, es un gusto poder tenerte!</h1>
    <br><br>

    <table width="280" cellspacing="1" cellpadding="3" border="0" bgcolor="#1E679A">
        <tr>
            <td>
                <font color="#FFFFFF" face="arial, verdana, helvetica">
                    <b>Wallet:</b>
                </font>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffcc">
                <font face="arial, verdana, helvetica">${{wallet}}</font>
            </td>
        </tr>
    </table>
    <br><br>


    <a href="/inicio/session/salir"><input type="button" value="Cerrar sesión"></a>
    <a href="/inicio/session/update"><input type="button" value="modificar mis datos"></a>
    <a href="/inicio/session/course"><input type="button" value="Cursos"></a>




</body>

</html>