<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exito</title>
        <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/exito.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>

<body>
        <header>
            <img src="{{ url_for('static', filename='imagenes/Logo.png') }}" class="logo">    
        </header>

    <h1>EXITO</h1>
</body>

</html>