<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrenador</title> 
    
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/iniciotrainer.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>
 
<body>
    <form method="POST">
        <img src="{{ url_for('static', filename='imagenes/Logo.png') }}" class="avatar">
        <h1>Bienvenido Entrenador</h1>
        <br>
        <a href="/trainer/loginform"><input type="button" value="Iniciar sesión"></a>

        <a href="/trainer/registerform"><input type="button" value="Registrarse"></a>

        <a href="/"><input type="button" value="Volver a la página principal"></a>

    </form>

</body>

</html>