<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Register form Trainer</h1>
    <br>


    <p style="color: red;">{{message}}</p>
    <form action="/trainer/registerform" method="POST">
        Nombre: <br>
        <input type="text" name="nombre" id="nombre" value="{{nombre}}" required>
        <br><br>
        Apellido: <br>
        <input type="text" name="apellido" id="apellido" value="{{apellido}}" required>
        <br><br>
        <p style="color: red;">{{message2}}</p>
        Usuario: <br>
        <input type="text" name="usuario" id="usuario" value="{{usuario}}" required>
        <br><br>
        Contraseña: <br>
        <input type="password" name="password" id="password" required>
        <br><br>
        Descripcion: <br>
        <input type="text" name="descripcion" id="descripcion" value="{{descripcion}}" required>
        <br><br>
        Email: <br>
        <input type="email" name="email" id="email" value="{{email}}" required>
        <br><br>
        <input type="submit" value="Crear Trainer">
        <a href="/trainer"><input type="button" value="Cancelar"></a>
    </form>
</body>

</html>