<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de pagos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pagos.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
</head>

            <header class="enca">
                <div class="wrapper">   
                    <div class="logo">
                        <i class="fas fa-money-bill-wave icon"></i>&nbsp;Tus pagos
                    </div>          
                        <nav>
                        <a href="/inicio/sesion">Volver al perfil</a>
                    </nav>
                </div>
            </header>

<body>
<br><br>
<br>
<br>
<br><br>
        <table>
        <tr>
            <th>Dueño</th>
            <th>Tarjeta</th>
            <th>Fecha</th>
            <th>Cantidad abonada</th>
        </tr>
        {% for pay in pays %}
        <tr>
            <td>{{pay[6]}}</td>
            <td>{{pay[2]}}</td>
            <td>{{pay[7]}}</td>
            <td>{{pay[8]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>