<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>

<body>
    <table style="width:50%" border="1">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Duración</th>
            <th>Costo</th>
            <th>ID del usuario que lo compró</th>
            <th>{% id[0] %}</th>
            <th> hola</th>
            <th>Estado del curso</th>

        </tr>
    </table>
</body>

</html>