<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br><br>
    <h3>Perfil de {{data.firstname}} {{data.lastname}}</h3>
    <br><br>
    Descripción: {{data.description}}
    <br><br>
    Email de contacto: {{data.email}}
    <br><br>
    <a href="/inicio/session/course"><input type="button" value="Volver a los cursos"></a>
    <a href="/inicio/session/course/chat"><input type="button" value="Chat"></a>
</body>
</html>