<!DOCTYPE html>
<html lang="en">
 
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/trainerchat.css') }}">  
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >  
</head>
 
            <header class="enca">
                <div class="wrapper">   
                    <div class="logo">
                        <i class="fas fa-comments icon"></i>&nbsp;Sala de Chat
                    </div>          
                        <nav>
                        <a href="/trainer/session/userAcount/3/No%20finalizado">Volver al perfil</a>
                    </nav>
                </div>
            </header>
<body> 
        <form action="/trainer/session/course/chat" method="POST">
        mensaje:
        <input type="text" name="mss" id="idmss" required>
        <input type="submit" value="Enviar">
        </form>
    <table>
        {%if conver != 0%}
        <tr>
            <a><th colspan="2">Me</th></a>
            <th colspan="2">User</th>
        </tr>
     
        {% for conver in conver %}
        <tr> 
        {% if conver[6] == "trainer"%}
            <th>{{ conver[3] }}</th>
            <th><a>{{ conver[1] }}</a></th>
            <th></th>
            <th></th>
        </tr>
        {%else %}
            <th></th>
            <th></th>
            <th>{{ conver[1] }}</th>
            <th><a>{{ conver[3] }}</a></th>
        {% endif %}

        {% endfor %}
         
        {% endif %}
        
    </table>

</body>

</html>