<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>

<body>
    <table style="width:50%" border="1">
        <tr>
            <th>Me</th>
            <th>You</th>
        </tr>
        {%if conver != 0%}
        {% for conver in conver %}
        <tr>
            <th>{{ conver[2] }}</th>
        </tr>
        {% endfor %}
        {% else %}
            <th> No hay mensajes que mostrar </th>
        {% endif %}
    </table>
    <form action="/trainer/session/course/chat" method="POST">
        mensaje:
        <input type="text" name="mss" id="idmss" required>
        <input type="submit" value="Enviar">
    </form>
    <a href="/trainer/sesion/course"><input type="button" value="Volver al perfil"></a>
</body>

</html>