{% extends 'base.html' %}

{% block head %}
<title>Main site</title>
{% endblock head %}

{% block content %}
<h1>Main site</h1>
<br>
<form action="/trainer/beforeAmpl" method="POST">
    Nombre del usuario:
    <input type="text" name="name" id="name">
    <br><br>
    Numero de variables:
    <input type="text" name="var" id="var">
    <br><br>
    Numero de restricciones:
    <input type="text" name="restriction" id="restriction">
    <br><br>
    <input type="submit">
</form>
{% endblock content %}