<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Rutina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uprutine.css') }}">
</head>

<body>
    <form action="/trainer/session/rutine/update/{{idd}}" method="POST">
        <h1>Modificar el ejercicio</h1>
        <p>Etapa</p>
        <input type="number" name="etapa" id="etapa" required>
        <br><br>
        <p>Ejercicio</p>
        <input type="text" name="ejercicio" id="ejercicio" value="{{ejercicio}}" required>
        <br><br>
        <p>Tiempo (en minutos)</p>
        <input type="number" name="time" id="time" required>
        <br><br>
        <p>Repeticiones</p>
        <input type="text" name="set" id="set" value="{{repetition}}" required>
        <br><br>
        <input type="submit" value="Modificar ejercicio">
    </form>
</body>
</html>