<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/inicio/session/update" method="POST">
        Nombre: <br>
        <input type="text" name="nombre" id="nombre" value="{{nombre1}}">
        <br><br>
        Apellido: <br>
        <input type="text" name="apellido" id="apellido" value="{{apellido1}}">
        <br><br>
        Usuario: <br>
        <input type="text" name="usuario" id="usuario" value="{{usuario1}}">
        <br><br>
        Contraseña: <br>
        <input type="password" name="password" id="password" value="{{password1}}">
        <br><br>
        Email: <br>
        <input type="email" name="email" id="email" value="{{email1}}">
        <br><br>
        Peso (en kilogramos y con dos decimales): <br>
        <input type="text" name="peso" id="peso" value="{{peso1}}">
        <br><br>
        Edad: <br>
        <input type="text" name="edad" id="edad" value="{{edad1}}">
        <br><br>
        Sexo: <br>
        <input type="text" name="sexo" id="sexo" value="{{sexo1}}">
        <br><br>
        Altura (en metros y con dos decimales): <br>
        <input type="text" name="altura" id="altura" value="{{altura1}}">
        <br><br>
        <input type="submit" value="Guardar cambios">
        <a href="/inicio/sesion"><input type="button" value="Cancelar"></a>

</body>

</html>