<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
            
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/updateuser.css') }}">        
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
</head>

<body>
    <form action="/inicio/session/update" method="POST">
        <img src="{{ url_for('static', filename='imagenes/inicioform.png') }}" class="avatar">
        <p>Nombre</p>
        <i class="far fa-user icon"></i>
        <input type="text" name="nombre" id="nombre" value="{{nombre1}}" required>
        <br><br>
        </p>Apellido</p>
        <i class="far fa-user icon"></i>
        <input type="text" name="apellido" id="apellido" value="{{apellido1}}" required>
        <br><br>
        <p>Contraseña</p>
        <i class="fas fa-key icon"></i>
        <input type="password" name="password" id="password" required>
        <br><br>
        <p>Email</p>
        <i class="fas fa-envelope icon"></i>
        <input type="email" name="email" id="email" value="{{email1}}" required>
        <br><br>
        <p>Peso (en kilogramos y con dos decimales)</p>
        <i class="fas fa-weight icon"></i>
        <input type="text" name="peso" id="peso" value="{{peso1}}" required>
        <br><br>
        <p>Edad</p>
        <i class="fas fa-user-clock icon"></i>
        <input type="text" name="edad" id="edad" value="{{edad1}}" required>
        <br><br>
        <p>Altura (en metros y con dos decimales)</p>
        <i class="fas fa-arrows-alt-v icon"></i>
        <input type="text" name="altura" id="altura" value="{{altura1}}" required>
        <br><br>
        <input type="submit" value="Guardar cambios">
        <a href="/inicio/sesion"><input type="button" value="Cancelar"></a>

</body>

</html>