<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala de Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userchat.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
</head> 

<header class="enca"> 
            <div class="wrapper">   
                <div class="logo">
                    <i class="fas fa-comments icon"></i>&nbsp;Sala de Chat
                </div>           
                    <nav> 
                        <a href="/inicio/session/course">Volver a los Cursos</a>
                    </nav>
                </div>
            </header>
 
<body>
        <form action="/inicio/session/course/chat" method="POST">
        mensaje:
        <input type="text" name="mss" id="idmss" required>
        <input type="submit" value="Enviar">
    </form>
    <table>
        {%if conver != 0%}
        <tr>
            <th colspan="2">Me</th> 
            <th colspan="2">Trainer</th>
        </tr>
        
        {% for conver in conver %}
        <tr>
        {% if conver[6] == "user"%}
            <th>{{ conver[3] }}</th>
            <th>{{ conver[1] }}</th>
            <th></th>
            <th></th>
        </tr>
        {%else %}
            <th></th>
            <th></th>
            <th><a>{{ conver[1] }}</a></th>
            <th>{{ conver[3] }}</th>
        {% endif %}

        {% endfor %}
        
        {% endif %}

     
   
        
    </table>

</body>

</html>