<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userprofile.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head> 
<header class="enca"> 
            <div class="wrapper">    
                <div class="logo">
                    <h3>Perfil de {{data.nombre}} {{data.apellido}}</h3>
                </div>           
                    <nav> 
                        <a href="/trainer/session/course">Volver a los Cursos</a>
                        <a href="/trainer/session/course/chat">Sala de Chat</a>
                        <a href="/trainer/session/userAcount/rutine">Modificar la rutina</a>                 
                    </nav> 
                </div>
            </header> 
<body>

    <form>
    {% if filename %}
    <div>
        <img src="{{ url_for("display_image", filename=filename) }}" class="avatar">
    </div>
    {% endif %}
    <br><br>
    Edad: {{data.edad}}
    <br><br>
    {% if data.sexo == 1  %}
    Sexo: Hombre
    {% else %}
    Sexo: Mujer
    {% endif %}
    <br><br>
    Peso: {{data.peso}} kilogramos
    <br><br>
    Estatura: {{data.altura}} metros
    <br><br>
    IMC: {{imc}}
    <br><br>
    Estado del usuario:
            {% if imc<18.5 %}
            <p>Peso inferior al normal</p>
            {% elif 18.5<=imc<=24.9%}
            <p>Peso normal</p>
            {% elif 25.0<=imc<=29.9%}
            <p>Peso superior al normal</p>
            {% else %}
            <p>Obesidad</p>
            {% endif %}
    </form>
</body>
</html>